.header {
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  box-shadow: 5px 5px whitesmoke;
  background-color: #0a243d;

  img {
    height: 100%;
    cursor: pointer;
  }

  .app-name {
    color: whitesmoke;
    text-align: center;
    margin-right: 8px;
    margin-left: 25%;
    min-width: 200px
  }

  .menu-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .username{
    color: whitesmoke;
  }
}
